<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
rel="stylesheet"
/>
</head>

<body>
    <!-- MDB -->

    <header>
        <h1></h1>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="voters.ejs">Voters</a></li>
                <li><a href="party_registration.ejs">Parties</a></li>
                <li><a href="role.ejs">Position</a></li>
                <li><a href="candidates_registration.ejs">Contestants</a></li>
                <li><a href="election.ejs">Elections</a></li>
                <li><a href="users.ejs">Users</a></li>
            </ul>
        </nav>
    </header>

    <script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
</body>
</html>